<!doctype html>
<html class="no-js" lang="" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Josh Derocher: A really hoopy frood</title>
    <meta name="description" content="The website of Josh Derocher">
    <meta name="author" content="Josh Derocher">
    <meta name="theme-color" content="#009688">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="favicon-152.png">
    <link rel="icon" sizes="152x152" href="favicon-152.png">
    <link rel="stylesheet" href="./css/main.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="container">
            <ul class="social">
                <li><a href="mailto:contact@thejoshderocher.com" title="Send me an Email"><i class="fa-envelope fa fa-2x"></i></a></li>
                <li class="large-hide"><a href="tel:+12078080677" title="Give me a call"><i class="fa fa-2x fa-phone"></i></a></li>
                <li><a href="http://github.com/thebedivere" title="github"><i class="fa fa-2x fa-github"></i></a></li>
            </ul>
            <i class="menu-toggle fa fa-bars fa-2x" onclick="toggleMenu();"></i>
            <nav id="navigationMenu" class="off-screen">

                <ul>
                    <li><a href="#/home" onclick="toggleMenu();">Home</a></li>
                    <li><a href="#/home/#work" onclick="toggleMenu();">Work</a></li>
                    <li><a href="#/home/#resume" onclick="toggleMenu();">Resume</a></li>
                    <li><a href="#/blog" onclick="toggleMenu();">Blog</a></li>
                    <li><a href="#/fiddles" onclick="toggleMenu();">Fiddles</a></li>
                </ul>

            </nav>
        </div>
    </header>
        <ng-view></ng-view>
        <script src="js/scripts.js"></script>
        <script src="components/modules.min.js"></script>
        <script src="app.js"></script>
    <footer>
        <div class="container">
            <ul>
                <li>Josh Derocher</li>
                <li><a href="mailto:contact@thejoshderocher.com">contact@thejoshderocher.com</a></li>
                <li><a href="tel:207.808.0677">207.808.0677</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
