@mixin transform($values) {
    -webkit-transform: $values;
    -moz-transform: $values;
    -ms-transform: $values;
    -o-transform: $values;
    transform: $values;
}

@mixin translate ($x, $y) {
    @include transform(translate($x, $y));
}

@mixin transition($values) {
    -webkit-transition: $values;
    -moz-transition: $values;
    -ms-transition: $values;
    -o-transition: $values;
    transition: $values;
}

.hidden {
    display: none;
}

.move-up {
    @include translate(0, -325px);
    @include transition(0.5s ease-in-out);
}

.move-down {
    @include translate(0, 325px);
    @include transition(0.5s ease-in-out);
}

.hover {
    @include transition(color 0.4s ease);
    &:hover {
        color: darken($primary-color, 10)!important;
    }
}
