header {
    .container {
        padding: 0;
    }
    a,
    a:link,
    a:active,
    a:visited {
        @extend .hover;
        @include light-text;
    }
    z-index: 1000;
    @include shadow-1;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: auto;
    nav {
        @media (min-width: $tiny) {
            font-size: 1em;
        }
        font-size: .8em;
        float: left;
        display: inline-block;
        margin: 1em 0 1em 1em;
        position: relative;
        ul {
            list-style: none;
            li {
                a,
                a:link,
                a:active,
                a:visited {
                    @extend .hover;
                    @include light-text;
                    text-decoration: none;
                }
                display: inline;
                &:after {
                    margin: 0 .5em;
                    content: " |";
                }
                &:last-child {
                    &:after {
                        content: none;
                    }
                }
            }
        }
    }
    .social {
        @media (min-width: $tiny) {
            font-size: 1em;
        }
        font-size: .8em;
        margin: .5em 1em .5em 0;
        position: relative;
        float: right;
        list-style: none;
        display: inline-block;
        li {
            display: inline-block;
            margin-left: .6em;
            a,
            a:active,
            a:visited {
                @extend .hover;
                display: block;
            }
            i {
                @extend .hover;
                @include light-text;
            }
        }
    }
    background-color: $primary-color;
    @include main-font;
    @include light-text;
}