@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

@mixin main-font { 
    font-family: 'Roboto', sans-serif;
}

@mixin light-text {
    color: $clouds;
}

@mixin dark-text {
    color: $asbestos;
}

@mixin color-text {
    color: $primary-color;
}