@import 'colors';
@import 'type';
@import 'media';
@import 'helpers';
@import 'shadows';
@import 'animation';
@import 'intro';
@import 'work-and-resume';
@import 'header';
* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

body {
    @include font-smoothing;
    line-height: 1;
    background-color: $clouds;
    padding-top: 2em;
}

.container {
    margin: 0 auto;
    padding: 5%;
    max-width: $mobile - 20px;
    @media (min-width: $large) {
        max-width: 1000px;
    }
}

h3 {
    padding: 2rem 1rem 1rem 1rem;
    font-size: 2rem;
    @include main-font;
    @include color-text;
    text-align: center;
    @media (min-width: $mobile) {
        padding-top: 3rem;
    }
}

footer {
    a,
    a:active,
    a:visited {
        @include light-text;
    }
    display: block;
    width: 100%;
    margin: none;
    padding: 0;
    ul {
        list-style: none;
        li {
            margin: 1em auto;
        }
    }
    background-color: $primary-color;
    @include light-text;
    @include main-font;
}