
<div>
    <div class="user-login" ng-if="userToken">
        <p>You are signed in as {{ userName }}</p>
        <i class="fa fa-user"></i>
        <a ng-click="userLogOut(); reloadRoute();">Log Out</a>
    </div>
    <div class="user-login" ng-if="!userToken">
        <i class="fa fa-user"></i>
        <a ng-click="modelTrigger();">Log in</a>
    </div>
    <div class="model-background" ng-show="openModel == true">
        <div class="model" ng-show="openModel == true">
            <div ng-if="!userToken">
                <label>Log in</label>
                <form novalidate onsubmit="authenticateUser();">
                    <text-input label="Username" model="formData.name"></text-input>
                    <password-input label="Password" model="formData.password"></password-input>
                    <button type="submit" ng-click="authenticateUser();">Submit</button>
                </form>
                <p>{{ authMessage }}
            </div>
            <a ng-click="modelClose();"><i class="fa fa-times fa-2x"></i></a>
            <p></p>
        </div>
    </div>
</div>
