.toast {
    @include main-font;
    @include light-text;
    background-color: $dark-grey;
    padding: 2em;
    margin: 1e;
    @include shadow-2;
    position: absolute;
    right: 1em;
    bottom: 1em;
}
