.work {
    margin: 2em auto;
    @media (min-width: $tiny) {
        display: flex;
        flex-wrap: wrap;
    }
}

.resume {
    margin: 2em auto;
}

.card {
    @include shadow-1;
    display: block;
    background: $primary-color;
    @include main-font;
    @include light-text;
    padding: 0;
    margin: 2em auto;
    a,
    a:active,
    a:visited {
        @extend .hover;
        @include light-text;
    }
    p,
    a,
    h4,
    h5,
    ul {
        padding: 1rem;
    }
    h4 {
        font-size: 1rem;
        font-weight: 700;
    }
    h5 {
        font-size: .85rem;
    }
    a,
    p,
    ul,
    li {
        font-size: .85rem;
        line-height: 1.5;
    }
    ul {
        list-style: none;
    }
    @media (min-width: $mobile) {
        flex: auto;
    }
}
.card-container {
    margin: 2em auto;
    padding: .5em;
    height: 300px;
    width: 100%;
    @media (min-width: $tiny) {
        width: 300px;
    }
    .more {
        width: 100%;
    @media (min-width: $tiny) {
        width: 300px;
    }
        height: 300px;
        position: absolute;
        @include main-font;
        @include color-text;
        font-size: .85rem;
        line-height: 1.5;
        padding: 1rem;
        overflow: hidden;
        padding: 0;
        .toggle-less {
            @extend .hover;
            position: absolute;
            right: .5em;
            bottom: 1em;
            text-decoration: underline;
        }
    }
}
.toggle-more, .toggle-less {
    cursor: pointer;
}

.work-card {
    position: absolute;
    width: 100%;
    @media (min-width: $tiny) {
        width: 300px;
    }
    height: 300px;
    @include transition(0.5s ease-in-out);
    z-index: 2;
    @extend .card;
    margin: 0;
    background-color: $clouds;
    padding: 0;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    div {
        width: 100%;
        background-color: $primary-color;
        position: absolute;
        bottom: 0;
        padding-bottom: .5em;
        a,
        h5,
        p,
        {
            padding: .5rem;
        }
        h5 {
            font-size: 1rem;
            font-weight: 700;
        }
        a,
        p {
            font-size: .85rem;
        }
        a {
            float: left;
            @extend .hover;
        }
        .toggle-more {
            @extend .hover;
            float: right;
            text-decoration: underline;
        }
    }
}

.download {
    @extend .hover;
    @include color-text;
    @include main-font;
    text-align: center;
    margin: 0 auto;
    display: block;
}
