<% include ../partials/header %>
<span id="home"></span>
<div class="container" ng-controller="BlogController">
    <ng-view class="blog-post"></ng-view>
</div>
<!-- Template -->
<% include ../partials/scripts %>
<script type="text/ng-template" id="/blog.html">
    <div ng-repeat="blog in blog" ng-if="blog.title" class="post">
        <h1>{{ blog.title | capitalize:true}} </h1>
        <h4>{{ blog.updated_at   | date : 'EEEE,  MMMM dd yyyy'}}</h4>
        <span ng-bind-html="blog.body | markdown"></span>
    </div>
</script>
<% include ../partials/footer %>