      <footer>
        <div class="container">
            <ul>
                <li>Josh Derocher</li>
                <li><a href="mailto:contact@thejoshderocher.com">contact@thejoshderocher.com</a></li>
                <li><a href="tel:207.808.0677">207.808.0677</a></li>
            </ul>
        </div>
    </footer>

</body>

</html>