<!doctype html>
<html class="no-js" lang="" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Josh Derocher: A really hoopy frood</title>
    <meta name="description" content="The website of Josh Derocher">
    <meta name="author" content="Josh Derocher">
    <meta name="theme-color" content="#009688">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="favicon-152.png">
    <link rel="icon" sizes="152x152" href="favicon-152.png">
    <link rel="stylesheet" href="./css/main.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container blog-post">
        <h1><%= status %></h1>
        <h3><%= message %></h3>
        <p>
            <%= error %>
        </p>
        <a href="/#">Return home</a>
    </div>
</body>

</html>