<div class="container">
    <div class="edit"> 
        <form novalidate>
           <text-input model="formData.title" title="Title"></text-input>
            <text-area model="formData.body" title="body"></text-area>
            <button type="submit" ng-click="createPost(); goToPost();">Submit</button>
        </form>
        <div class="preview">
            <p>Post preview</p>
            <h1>{{ formData.title }}</h1>
            <span ng-bind-html="formData.body | markdown"></span>
        </div>
    </div>
    <!--<ng-view class="blog-post"></ng-view>-->
</div>
