<div class="container">
    <div class="edit">
        <form novalidate>
            <div class="input-group">
                <input type="text" id="title" ng-model="formData.title" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Title</label>
            </div>
            <div class="input-area-group">
                <textarea id="TextArea" ng-model="formData.body" ng-keyup="autoExpand($event)" required></textarea>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Body</label>
            </div>
            <button type="submit" ng-click="createPost()">Submit</button>
        </form>
        <div class="preview">
            <p>Post preview</p>
            <h1>{{ formData.title }}</h1>
            <span ng-bind-html="formData.body | markdown"></span>
        </div>
    </div>
</div>
