<div class="container">
<div ng-if="!userToken">
    <div class="blog-post">
        <h3 class="center-text">You have to be logged in create or edit blog posts.</h3>
    </div>
</div>
<div class="edit" ng-if="userToken">
        <form novalidate>
            <text-input model="formData.title" title="Title"></text-input>
            <text-area model="formData.body" title="body" run-this="autoExpand($event)"></text-area>
            <button type="submit" ng-click="createPost()">Submit</button>
        </form>
        <div class="preview">
            <p>Post preview</p>
            <h1>{{ formData.title }}</h1>
            <span ng-bind-html="formData.body | markdown"></span>
        </div>
    </div>
</div>
<user-loging></user-loging>    
