.cards {
    margin: 2em auto;
    @media (min-width: $tiny) {
        @include transition(1s cubic-bezier(0.4, 0, 0.2, 1));
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .card {
        img {
            padding: 0!important;
            width: 100%;
            margin: 0 auto;
            box-sizing: border-box;
        }
        .blog-post{
            text-align: center;
            margin: 0;
            padding: 0;
            h1, h2, h3, h4, h5, h5, img, ul {
                padding: 1em;
            }
            a {
                padding: 0;
                color: inherit!important;
            }
        }
        text-align: center;
        @include dark-text;
        opacity: 1;
        @include transition(.7s ease-in-out);
        position: relative;
        width: 100%;
        @media (min-width: $tiny) {
            width: 225px;
        }
        min-height: 200px;
        z-index: 2;
        @extend .card;
        background-color: white;
        a,
        h5,
        p,
        {
            padding: 1rem;
        }
        h5 {
            font-size: 1.2em;
            font-weight: 700;
        }
        a,
        p {
            font-size: 1.1em;
        }
        button {
            width: 100%;
            margin: 1em;
            display: block;
        }
        .button-box {
            float: right;
            position: absolute;
            margin: 2em;
            top: 0;
            right: 0;
            border: none;
        }
        i {
            margin-left: 1em;
            font-family: 'FontAwesome';
        }
        ul {
            width: 50%;
            margin: 1em;
            box-sizing: border-box;
        }
    }
    .large-card {
        @include light-text;
        opacity: 1;
        @include transition(.7s ease-in-out);
        position: relative;
        width: 100%;
        min-height: 100px;
        z-index: 2;
        @extend .card;
        background-color: $primary-color;
        padding: .5em;
        a,
        h5,
        p,
        {
            padding: 1rem;
        }
        h5 {
            font-size: 1.2em;
            font-weight: 700;
        }
        a,
        p {
            font-size: 1.1em;
        }
        button {
            min-width: 5em;
            margin: 1em;
            display: inline-block;
        }
        i {
            margin-right: 1em;
            font-family: 'FontAwesome';
        }
    }
}
