.chat-history {
    height: 80vh;
    margin: 0;
    background: white;
    overflow-x: hidden;
    border: none;
    @extend text-style;
    @include main-font;
    li {
        box-sizing: border-box;
        padding: 1em;
        width: 100%;
        &:nth-child(even) {
            background: lighten(#eee, 3);
        }
        img {
            max-width: 75%;
            max-height: 75%;
        }
    }
    .chat-timestamp {
        color: $alt-color!important;
        float: right;
    }
    .chat-message {
        @include dark-text;
    }
    .josh {
        color: red;
    }
    .roxane {
        color: blue;
    }
    .josh, .roxane {
        margin: 1em;
    }
}

.chat {
    @include shadow-1;
    form {
        margin: 0;
        display: flex;
        input {
            border: 1px solid $primary-color;
            padding: 1em;
            width: 80%;
            margin: 0;
            background: white;
            display: inline;
            box-sizing: border-box;

        }
        button {
            padding: 1em;
            width: 20%;
            margin: 0;
            display: inline;
            box-sizing: border-box;
        }
    }
    ::-webkit-scrollbar {
        width: 12px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        -webkit-border-radius: 0;
        border-radius: 0;
        background: $clouds;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 0px;
        border-radius: 0px;
        background: darken($primary-color, 10);
    }
}


.giphy {
    p {
        margin-bottom: 1em;
    }
    padding: 1em;
    margin: 0;
    background: white;
    overflow-x: hidden;
    border: none;
    @extend text-style;
    @include main-font;
    margin: 1em auto;
    @include shadow-1;
    .giphy-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    img {
        margin: 1em;
    }

    input {
        border: 1px solid $primary-color;
        padding: 1em;
        width: 100%;
        margin: 0;
        background: white;
        display: inline;
        box-sizing: border-box;
    }
    ::-webkit-scrollbar {
        width: 12px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        -webkit-border-radius: 0;
        border-radius: 0;
        background: $clouds;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 0px;
        border-radius: 0px;
        background: darken($primary-color, 10);
    }
}
