header {
    .container {
        padding: 0;
    }
    a,
    a:link,
    a:active,
    a:visited {
        @extend .hover;
        @include light-text;
    }
    z-index: 1000;
    @include shadow-1;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: auto;
    .menu-toggle {
        @include light-text;
        margin: .5rem 0 .5rem 1rem;
        position: relative;
        float: left;
        display: inline-block;
        @media (min-width: $large) {
            display: none!important;
        }
    }
    nav {
        @media (min-width: $tiny) {
            font-size: 1em;
        }
        @media (max-width: $large) {
            a,
            a:link,
            a:active,
            a:visited,
            ul,
            li {
                color: $dark-grey!important;
            }
            ul {
                padding: 2em 0;
            }
            li {
                padding: 1em 4em;
                &:nth-child(odd) {
                    background-color: darken(#eee, 10);
                }
            }
            font-size: 1.2em;
            background-color: #eee;
            display: block;
            position: fixed;
            //left: 0;
            top: 0;
            bottom: 0;
            height: 100%;
            padding: 0;
            @include shadow-2;
            box-sizing: border-box;
        }
        @media (min-width: $large) {
            font-size: 1em;
            float: left;
            display: inline-block;
            margin: 1em 0 1em 1em;
            position: relative;
            ul {
                list-style: none;
                li {
                    a,
                    a:link,
                    a:active,
                    a:visited {
                        @extend .hover;
                        @include light-text;
                        text-decoration: none;
                    }
                    display: inline;
                    &:after {
                        margin: 0 .5em;
                        content: " |";
                    }
                    &:last-child {
                        &:after {
                            content: none;
                        }
                    }
                }
            }
        }
    }
    .social {
        font-size: 1em;
        margin: .5rem 1rem .5rem 0;
        position: relative;
        float: right;
        list-style: none;
        display: inline-block;
        li {
            display: inline-block;
            margin-left: .6em;
            a,
            a:active,
            a:visited {
                @extend .hover;
                display: block;
            }
            i {
                @extend .hover;
                @include light-text;
            }
        }
    }
    background-color: $primary-color;
    @include main-font;
    @include light-text;
}

.menu-out {
    @media (max-width: $large) {
        @include translate(-400px, 0);
        @include transition(0.5s ease-in-out);
    }
}

.menu-in {
    @media (max-width: $large) {
        @include translate(0, 0);
        @include transition(0.5s ease-in-out);
    }
}

.screen-darken {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 990;
    background-color: rgba($dark-grey, 0.7);
    @include transition(0.5s ease-in-out);
}
