@mixin border-radius($radius) {
    -webkit-border-radius: ($radius);
    -moz-osx-border-radius: ($radius);
    -moz-border-radius: ($radius);
    -ms-border-radius: ($radius);
    border-radius: ($radius);
}

@mixin font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: greyscale;
    -moz-font-smoothing: grayscale;
    -ms-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}






