form {
    padding: 2em;
    width: 100%;
    box-sizing: border-box;
    margin: 1em auto;
    line-height: 1.5;
    display: block;
    @include main-font;
    @include color-text;
}

button {
    background-color: $primary-color;
    @include main-font;
    @include light-text;
    padding: 1em;
    transition: box-shadow 0.4s ease;
    &:focus,
    &:active {
        @include shadow-2;
        border: none !important;
        outline: none !important;
    }
    &:disabled {
        background-color: $asbestos;
    }
}

.input-group {
    height: 2em;
    box-sizing: border-box;
    overflow: visible;
    margin: 2rem 0;
    input {
        width: 100%;
        font-size: 18px!important;
        background: transparent!important;
        border: none;
        border-bottom: 1px solid $light-grey;
        &:focus {
            outline: none;
        }
    }
    label {
        color: $primary-color;
        font-size: 18px!important;
        position: relative;
        pointer-events: none;
        left: 0;
        top: -2rem;
        @include transition(0.2s ease all);
    }
    input:focus ~ label,
    input:valid ~ label {
        position: relative;
        top: -3rem!important;
        font-size: 14px!important;
        @include transition(0.2s ease all);
    }

    input:focus ~ label {
        color: $alt-color;
    }

    input:not(:focus):valid ~ label {
        color: $light-grey;
    }

    .bar {
        position: relative;
        display: block;
        width: 100%;
        bottom: 0;
        &:after,
        &:before {
            content: '';
            height: 2px;
            width: 0;
            bottom: 0;
            position: absolute;
            background: $alt-color;
            @include transition(0.2s ease all);
        }
        &:before {
            left: 50%;
        }
        &:after {
            right: 50%;
        }
    }

    input:focus ~ .bar:before,
    input:focus ~ .bar:after {
        width: 50%;
    }

}


.input-area-group {
    position: relative;
    min-height: 2em;
    box-sizing: border-box;
    overflow: visible;
    margin: 2rem 0;
    textarea {
        @include transition(0.2s ease all);
        height: 5em;
        overflow: auto;
        width: 100%;
        resize: vertical;
        font-size: 18px!important;
        background: transparent!important;
        border: none;
        border-bottom: 1px solid $light-grey;
        &:focus {
            outline: none;
        }
    }
    label {
        color: $primary-color;
        font-size: 18px!important;
        position: relative;
        pointer-events: none;
        left: 0;
        top: -2rem;
        @include transition(0.2s ease all);
    }

    textarea:focus ~ label,
    textarea:valid ~ label {
        position: relative;
        top: -2rem!important;
        font-size: 14px!important;
        @include transition(0.2s ease all);
    }

    textarea:focus ~ label {
        color: $alt-color;
    }

    textarea:not(:focus):valid ~ label {
        color: $light-grey;
    }

    .bar {
        position: relative;
        display: block;
        width: 100%;
        bottom: .4rem;
        &:after,
        &:before {
            content: '';
            height: 2px;
            width: 0;
            bottom: 0;
            position: absolute;
            background: $alt-color;
            @include transition(0.2s ease all);
        }
        &:before {
            left: 50%;
        }
        &:after {
            right: 50%;
        }
    }

    textarea:focus ~ .bar:before,
    textarea:focus ~ .bar:after {
        width: 50%;
    }

}
