.toast {
    @include main-font;
    @include light-text;
    background-color: $dark-grey;
    padding: 2em;
    margin: 1em;
    @include shadow-2;
    bottom: 0;
    z-index: 200;
    i {
        margin-left: 1em;
        &:hover {
        cursor: pointer;
    }
    }

}

.toast-area {
    background: transparent;
    position: fixed;
    right: 1em;
    bottom: 1em;
    z-index: 200;
}
