@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@mixin main-font {
    font-family: 'Roboto', sans-serif;
}

@mixin light-text {
    color: $clouds;
}
@mixin dark-text {
    color: darken($asbestos, 10);
}

@mixin color-text {
    color: $primary-color;
}

.center-text {
    text-align: center!important;
}

.text-style {
    @include main-font;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    a,
    li,
    ol {
        text-align: left;
        margin: .5rem 0;
        padding: .5rem;
        a {
            margin: 0;
            padding: 0;
        }
        img {
            margin: 0 1em;
            display: inline;
            max-width: 100%;
            max-height: 100%;
        }
    }
    h1 {
        font-size: 3em;
        font-weight: 700;
        color: $primary-color;
    }
    h2 {
        font-size: 2.5em;
        font-weight: 700;
    }
    h3 {
        font-size: 2em;
        color: $orange;
    }
    h4 {
        font-size: 1.5em;
        color: $orange;
    }
    h5 {
        font-size: 1em;
        font-weight: 700;
    }
    em {
        font-style: italic;
    }
    strong {
        font-weight: bold;
    }
    a,
    a:active,
    a:visited {
        @include color-text;
        @extend .hover;
    }
    img {
        margin: 1em;
        display: block;
        max-width: 100%;
        max-height: 100%;
    }
    code {
        background-color: $primary-color;
        @include light-text;
        padding: 0.2em;
        margin: 0;
        font-size: 85%;
        border-radius: 3px;
        font-family: monospace;
    }
    pre {
        overflow: scroll;
        box-sizing: border-box;
        display: block;
        font-family: monospace;
        white-space: pre;
        margin: 1em;
        background-color: $primary-color;
        @include light-text;
        padding: 1em;
    }
    blockquote {
        border-left: solid 1em rgba($primary-color, 0.9);
        padding: 1em .5em;
        overflow: auto;
        background-color: rgba($primary-color, 0.6);
        @include light-text;
        &:before,
        &:after {
            margin: .1em;
            font-family: fontawesome;
            font-size: 200%;
        }
        &:before {
            margin-right: .5em;
            content: "\f10d";
        }
        &:after {
            margin-left: .5em;
            float: right;
            content: "\f10e";
        }
        * {
            display: inline;
            margin: 0;
            padding: 0;
        }
    }
}

@mixin text-style {
    @extend .text-style;
}
