.work {
    margin: 2em auto;
    @media (min-width: $tiny) {
         @include transition(1s cubic-bezier(0.4, 0, 0.2, 1));
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.resume {
    margin: 2em auto;
}

.card {
    @include transition(0.5s ease-in-out);
    @include shadow-1;
    display: block;
    background: $primary-color;
    @include main-font;
    @include light-text;
    padding: 0;
    margin: 2em auto;
    a,
    a:active,
    a:visited {
        @extend .hover;
        @include light-text;
    }
    p,
    a,
    h4,
    h5,
    ul {
        padding: 1rem;
    }
    h4 {
        font-size: 1rem;
        font-weight: 700;
    }
    h5 {
        font-size: .85rem;
    }
    a,
    p,
    ul,
    li {
        font-size: .85rem;
        line-height: 1.5;
    }
    ul {
        list-style: none;
    }
    @media (min-width: $mobile) {
        //flex: auto;
    }
}

.work-card {
    .toggle {
        margin: 0;
        padding: .5em 1em 2em 2em;
        float: right;
        @extend .hover;
        &:after{
            font-size: 1.5em;
            font-family: 'FontAwesome';
            content: '\f142';
        }
    }
    opacity: 1;
    @include transition(.7s ease-in-out);
    position: relative;
    width: 100%;
    @media (min-width: $tiny) {
        width: 450px;
    }
    height: 450px;
    z-index: 2;
    @extend .card;
    background-color: $clouds;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    div {
        span {
            display: block;
            float: left;
        }
        @include transition(.7s ease-in-out);
        height: 200px;
        z-index: 5;
        width: 100%;
        background-color: $primary-color;
        position: absolute;
        bottom: 0;
        padding-bottom: .5em;
        a,
        h5,
        p,
        {
            padding: 1rem;
        }
        h5 {
            font-size: 1.2em;
            font-weight: 700;
        }
        a,
        p {
            font-size: .85em;
            @include transition(.7s linear);
        }
        a {
            float: left;
            @extend .hover;
        }
    }
}

.open {
    .toggle {
        @extend .hover;
        &:after{
            font-size: 1.5em;
            font-family: 'FontAwesome';
            content: '\f00d';
        }
    }
    div {
        box-sizing: border-box;
        height: 100%;
    }
}

.download {
    @extend .hover;
    @include color-text;
    @include main-font;
    text-align: center;
    margin: 0 auto;
    display: block;
}
