@import 'colors';
@import 'type';
@import 'media';
@import 'helpers';
@import 'shadows';
@import 'animation';
@import 'intro';
@import 'work-and-resume';
@import 'header';
@import 'blog';
@import 'error';
@import 'toast';
@import 'game';
@import 'cards';
@import 'model';
@import 'inputs';
@import 'grid';
@import 'chat';
* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
body {
    font-size: 16px;
    position: relative;
    @include font-smoothing;
    line-height: 1;
    background-color: $clouds;
    padding-top: 2em;
    height: 100%;

}
.content-wrapper {
    height: 100%;
    margin-bottom: 5em;

}
.container {
    height: 100%;
    margin: 0 auto;
    @media (min-width: $tiny) {
        padding: 5%;
        max-width: $mobile - 20px;
    }
    @media (min-width: $large) {
        max-width: 1000px;
    }
}

h3 {
    padding: 2rem 1rem 1rem 1rem;
    font-size: 2rem;
    @include main-font;
    @include color-text;
    text-align: center;
    @media (min-width: $mobile) {
        padding-top: 3rem;
    }
}

strong {
    font-weight: 700;
}
.body-wrapper {
    min-height: 100vh;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    padding: 0;
    margin: 2em 0 0 0;
    padding: 0;
    background-color: $primary-color;
    @include light-text;
    @include main-font;
    .container {
        padding: .5em;
    }
    a,
    a:active,
    a:visited {
        @include light-text;
        @extend .hover;
    }
    ul {
        list-style: none;
        li {
            margin: 1em auto;
        }
    }
}

ul {
    list-style: none;
}

.alert {
    color: $red!important;
}

.warning {
    color: $orange!important;
}

.user-login {
    p {
        text-align: center;
    }
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    height: 10em;
    display: block;
    position: relative;
    padding: 2em;
    width: 100%;
    max-width: 100%!important;
    box-sizing: border-box;
    @extend .blog-post;
}


