<div class="container">
    <div class="blog-post">
        <p>If you want to see the code behind these little projects, take a look on <a href="https://github.com/thebedivere/The-Josh-Derocher/tree/master/development/components/fiddles" target="_blank">GitHub!</a>
    </div>
    <div class="blog-post">
        <h1>Zip Code Form</h1>
        <p>This simple form just returns an address for an entered Zip Code. jQuery watches for changes on the form, then a GET request is sent to Google's Maps API with the entered Zip Code. The returned address is then shown to the user.</p>
        <iframe width="100%" height="300" src="//jsfiddle.net/thebedivere/c9uaLd7w/9/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
    </div>
    <div class="blog-post">
        <h1>Media Search</h1>
        <p>Search for movies, TV shows, and video games by title. Created using the <a href="http://www.omdbapi.com/" title="The Open Movie Database">OMDb API</a>. Clicking on the title or image will show you more details about the movie.</p>
        <input type="text" placeholder="Search by title" ng-model="searchTitle" ng-change="movieSearch()">
        <!-- next feature: get more details about the movie by doing a title query, i.e. http://www.omdbapi.com/?t=Jaws&y=&plot=full&r=json -->
    </div>
    <div class="cards">
        <div ng-repeat="movie in movies" class="card">
                <h4 class="center-text"><a ng-click="modelTrigger(); movieDetails(movie.imdbID);">{{movie.Title}}</a></h4>
                <a ng-click="modelTrigger(); movieDetails(movie.imdbID);"><img fallback-src="img/noImg.png" ng-src="{{movie.Poster}}"></a>
        </div>
    </div>
</div>
<div class="model-background" ng-show="openModel == true" ng-click="modelTrigger();">
    <div class="model" ng-show="openModel == true">
        <h1>{{movieDetail.Title}}</h1>
        <h3 ng-if="movieDetail.Genre !='N/A'">{{movieDetail.Genre}}</h3>
        <h4 ng-if="movieDetail.Metascore !='N/A'"><strong>Metascore:</strong> {{movieDetail.Metascore}}</h4>
        <p ng-if="movieDetail.Released !='N/A'">
            <strong>Released:</strong> {{movieDetail.Released}}</p>
        <p ng-if="movieDetail.Rated !='N/A'">
            <strong> Rated:</strong> {{movieDetail.Rated}}</p>
        <p ng-if="movieDetail.Runtime !='N/A'">
            <strong>Runtime:</strong> {{movieDetail.Runtime}}</p>
        <p ng-if="movieDetail.Language !='N/A'">
            <strong>Language:</strong> {{movieDetail.Language}}</p>
        <p ng-if="movieDetail.Director !='N/A'">
            <strong>Director:</strong> {{movieDetail.Director}}</p>
        <p ng-if="movieDetail.Writer !='N/A'">
            <strong>Writer(s):</strong> {{movieDetail.Writer}}</p>
        <p ng-if="movieDetail.Actors !='N/A'">
            <strong>Actors:</strong> {{movieDetail.Actors}}</p>
        <p ng-if="movieDetail.Awards !='N/A'">
            <strong>Awards:</strong> {{movieDetail.Awards}}</p>
        <p ng-if="movieDetail.Plot !='N/A'">{{movieDetail.Plot}}</p>
        <a ng-click="modelTrigger();"><i class="fa fa-times fa-2x" ng-click="modelTrigger();"></i></a>
        <p></p>
    </div>
</div>
