<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Josh Derocher: A really hoopy frood</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>Home</li>
                <li>Work</li>
                <li>Blog</li>
            </ul>
        </nav>
        <ul class="social">
            <li><a href="mailto:contact@thejoshderocher.com" title="Send me an Email"><i class="fa-envelope fa fa-2x"></i></a></li>
            <li><a href="tel:+12078080677" title="Give me a call"><i class="fa fa-2x fa-phone"></i></a></li>
            <li><a href="http://github.com/thebedivere" title="github"><i class="fa fa-2x fa-github"></i></a></li>
        </ul>
    </header>
    <div class="container">
        <!-- header -->
        <div class="intro">
            <h1>Josh Derocher</h1>
            <h2>
                Web Developer
                <br>Video Games Blogger
                <br> Writer of Fantasy and Science Fiction
            </h2>
            <img src="img/joshderocher.jpg">
            <p>
                I'm a front-end developer in the greater Boston area. I code mostly with HTML, CSS, and JavaScript. I've worked with major frameworks and libraries including Wordpress, Bootstrap, Foundation, ExpressionEngine, Angular, Node, and Polymer.
                <p>
                    I wrote professionally about video games for four years, starting with a personal blog, and later I was a contributor for Destructoid, one of the biggest independently owned gaming sites. I have also contributed to Bitmob (now GamesBeat) and Front Towards Gamer.
                </p>
                <p>
                    In my free time I enjoy video games, playing the guitar, and petting my cat Boba Fett.
                </p>
                <p>Find me on Github, LinkedIn, send me an email, or look at my resume.</p>
        </div>
        <!-- handlebars content -->
        <div class="content-placeholder"></div>
        <!-- / -->
    </div>
    <footer>
        <ul>
            <li>Josh Derocher</li>
            <li>contact@thejoshderocher.com</li>
            <li>207.808.0677</li>
        </ul>
    </footer>
    <!-- scripts -->
    <script id="address-template" type="text/x-handlebars-template">
        <div class="work">
            <h3>My work</3> {{#each this}}
            <div class="card">
                <h4>{{title}}</h4> {{#if date}}
                <h5>{{date}}</h5>{{/if}} {{#if link}} {{#each link}}
                <p>
                    <a href=" {{link_url}} ">{{link_title}}</a>
                </p>
                {{/each}} {{/if}}
                <hr> {{#if body}}
                <div class="more">
                    {{#each body}}
                    <p>{{this}}</p>
                    {{/each}}
                </div>
                {{/if}} {{#if list}}
                <div class="more">
                    <ul>
                        {{#each list}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}
            </div>
        {{/each}}
        </div>
    </script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="js/vendor/jquery-{{JQUERY_VERSION}}.min.js"><\/script>')
    </script>
    <script src="/js/main.js"></script>
    <script type="text/javascript" src="/js/modernizr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
</body>

</html>