<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

</head>

<body>
    <div class="container">
        <div class="valign-wrapper header">
            <h1 class="center-align valign teal-text"><%= title %></h1>
        </div>
        <ng-view></ng-view>
    </div>
    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>

    <!-- Template -->
    <script type="text/ng-template" id="/blog.html">
        <div class="card-panel teal white-text" ng-repeat="blog in blog" ng-if="blog.title">
                    <h4 class="center-align" ng-if="blog.title">{{ blog.title}} </h4> 
                    <h5 class="center-align" ng-if="blog.updated_at">{{ blog.updated_at   | date : 'shortDate'}}</h5>
                    <p class="flow-text white-text center-align" ng-if="blog.body">
                    {{ blog.body }}</p>
            </div>
    </script>
    <script src="/javascripts/controller.js"></script>
</body>

</html>